<!-- {% load render_bundle from webpack_loader %} -->
<!DOCTYPE html>
<html>
<head>
    <title>Vuegeta</title>
    <link rel="stylesheet" type="text/css" >
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>