<template>
  <div id="reg">
    <NavBar/>
    <h1>Registration</h1>
  </div>
</template>

<script>

import NavBar from './components/NavBar'

export default {
  name: 'Reg',
  components: {
    NavBar
  }
}
</script>

<style>
#reg {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
